<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="author" href="{{ (site.link ~ '/humans.txt')|e('esc_url') }}" />
    {{ wp_head() }}
  </head>
  <body class="{{ body_class }}">
    {{ wp_body_open() }}

    <div class="layout">
      <header id="header" class="header">
        {% include 'components/header.twig' %}
      </header>
      <div class="container">
        {% block content %}
          Under construction...
        {% endblock %}
      </div>
      <footer class="footer">
        {% include 'components/footer.twig' %}
      </footer>
    </div>
    <header id="header-sticky" class="header header--is-sticky">
      {% include 'components/header.twig' %}
    </header>
    <aside id="aside" class="aside">
      <div class="aside__header">
        <button class="hamburger" aria-label="Close Mobile Menu">{% include 'components/hamburger.twig' %}</button>
      </div>
      <nav class="menu menu--is-primary menu--is-mobile">
        {% include 'components/menu.twig' with {
          items: menu_1.items
        } %}
      </nav>
      <div class="social-media social-media--is-secondary">
        {% include 'components/social-media.twig' %}
      </div>
    </aside>
    <div id="cookies" class="cookies">
      <p class="cookies__text">
        {{ __('Blog wykorzystuje pliki cookies w celu prawidłowego jego działania, korzystania z narzędzi analitycznych, marketingowych i społecznościowych. Jeżeli twoje ustawienia nie blokują cookies, wyrażasz zgodę na ich wykorzystywanie. Szczegóły znajdziesz w %spolityce prywatności%s.', 'tokk')|format('<a href="' ~ (get_permalink(site.wp_page_for_privacy_policy)|e('esc_url')) ~ '" class="cookies__link">', '</a>') }}
      </p>
      <button id="cookies-button" class="button button--is-primary" aria-label="Accept Cookies">{{ __('Rozumiem i akceptuję', 'tokk') }}</button>
    </div>

    {{ wp_footer() }}
  </body>
</html>
