<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ffc65d" />
    <link rel="author" href="{{ (site.link ~ '/humans.txt')|e('esc_url') }}" />
    {{ wp_head() }}
  </head>
  <body class="{{ body_class }}">
    {{ wp_body_open() }}
    {% include 'header.twig' %}
    {% block content %}
      Under construction...
    {% endblock %}
    {% include 'footer.twig' %}
    {{ wp_footer() }}
  </body>
</html>
